.navbar {
    background-color: #0078FF;
    color: #fff;
    display: flex;
    justify-content: center;
}

.navbar div {
    padding: 0.5em 4em;
}

.navbar div:hover {
    background-color: #3292ff;
    /* color: #000000; */
    transition: .2s;
}

.navbar div:active {
    background-color: azure !important;
    color: #000000 !important;
}